@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: white;
}
header{
    background-color: #FAF117;
    border-radius: 10px;
   
}
nav{
    background-color:#EDBF28;
    border-radius: 10px;
    border-top: 10cm;
   
}
    
nav>a{
    width: 15px;
    font-size: 15px;
    background-color: ;


}


header>h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
header>p{
    text-align: center;
}
main{
    max-width:600px ;
    min-width: 300px;
    margin: auto;
    background-color: yellow;
}

article>p{
    text-indent: 5px;

}
article>img{
    width: 100%;
    
}
article>h1{
    background-color: #E0DB31;
    font-family:'Bebas Neue', cursive ;
    font-size: 30px;
    text-indent: 8px;

}
article>p{
background-color: #E0DB31;
font-family: Arial, Helvetica, sans-serif;
}
h1.serviço{
    font-size: 30px;
    
    text-indent: 8px;
    border-radius: 10px;
}
aside{
    background-color:#ADA926;
    border-radius: 10px;
}
aside>ul{
    
}
ul.n1{
    
    font-size: 19px;
    border-radius: 10px;

}
footer{
    background-color: black
}
footer>p{
    color: white;
    
}